<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
        <title>To Do List</title>
    </head>
    <body>

        <div class="container">
            <h1 class="text-center">Todo List</h1>
            <hr>
            
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Complete</th>
                        <th>Created</th>
                        <th>Modified</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item: ${todoItems}">
                        <td th:text="${item.id}">item_id</td>
                        <td th:text="${item.title}">item_title</td>
                        <td th:text="${item.completed}">item_completed</td>
                        <td th:text="${item.createDate}">item_createdDate</td>
                        <td th:text="${item.modifiedDate}">item_modifiedDate</td>

                    </tr>
                </tbody>
            </table>
        </div>
        
        <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
    </body>
</html>